body{
    font-family:’Poppins’,sans-serif;
}

* {
	margin: 0;
    padding: 0;
}

.cabecalho{
	background-color: #FFFFFF;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
	width:10%;
}

.cabecalho-lista-item {
	display: inline-block;
    margin: 0 32px;
    font-size: 24px;
}

.escola-imagem{
	width:70%;
	display: flex;
    justify-content: center;
    padding: 24px 0;
}

.escola {
    background-image: linear-gradient(#1400FF,#051150);
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
}

.escola-titulo{
	padding: 24px 0;
}

.escola-conteudo{
    width: 90%;
    font-size: 24px;
}

.estudante-imagem{
    width: 20%;
}

.estudante-github{
    width:24px;
}

.estudante-div {
    text-align: center;
}

.estudante-titulo{
    text-align: center;
    padding: 50px 0;
}